
.wine_card-box{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../assets/bg-wine.jpg);
    min-height: 100vh;
}

.wine_container{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.wine__photo{
    border: 2px solid black;
    border-radius: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
    /* background-color: rgba(199, 145, 95, 0.623); */
    background-image: url(../../assets/wine__cards.jpg);
    background-size: contain;
}
.img_from_cardjson{
    margin: 1em 1em;
    border-radius: 1em;
    width: 10%;
    height: 320px;
}
.wine__info{
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.4em;
}
.wine__name{
    font-size: 2em;
}
.wine__title{
    font-size: 1.5em;
}
.wine__date{
    font-size: 1em;
}