@media screen and (max-width: 1024px) {
    .headerWine{
        font-size: 16px;
    }
    .headerCategory{
        flex-wrap: wrap;
        gap: 4em;
    }
}
@media screen and (max-width: 768px) {
    .headerCategory{
        flex-wrap: wrap;
        gap: 2em;
    }
}
@media screen and (max-width: 676px) {
    .headerRiche{
        width: 100px;
    }
}
@media screen and (max-width: 616px) {
    .headerRiche{
        width: 100px;
    }
    .headerCategory{
        flex-wrap: wrap;
        gap: 1em;
    }
}
@media screen and (max-width: 616px) {
    .headerRiche{
        width: 100px;
    }
    .logoAlco{
        display: none;
    }
}
@media screen and (max-width: 914px) {
    .wine__photo{
        justify-content: center;
    }
    #wiskey__photo{
        justify-content: center;
    }
}
@media screen and (max-width: 462px) {
    #wiskey__photo img {
        width: 90%;
    }
    #wiskey__photo img {
        width: 90%;
    }
    #liq__photo img{
        width: 90%;
        height: 350px;
    }
    #gin__photo img {
        width: 90%;
    }
}
